.bg-image{
    background: url(../../assets/img/home_page.jpg) ;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    opacity: 0.9;
    min-height: 100vh;
}

.login-area{
background-color:#EAEDED  ;
font-family: 'Courier New', Courier, monospace;
color: black;
font-weight: bold;
}

.container_logo{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 3px;
    border-radius: 50%;
    background-color: white;
}

.imge_logo{
    margin-top: 32%;
    width: 80%;
}

.registre_point{
    margin-top: 10px;
}

.button_login{
    background-color: #7B241C ;
    border-color: #7B241C;
    width: 50%;
    margin-top: 25px;
    font-size: 25;
}

.button_login:hover{
    color: black;
    background-color: white;
}

.form-group{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.form-control{
    border-radius: 30px;
}

.name_logo{
    font-weight: bold;
    padding-top: 15px;
}


